%html
  %head
    %link{ :rel => 'stylesheet', :href => 'stylesheets/style.css', :type => 'text/css', :media => 'screen', :charset => 'utf-8' }
    %meta{ :'http-equiv' => 'content-type', :content => 'text/html; charset=utf-8' }
  %body
    %h2#lab-title Лаботарная работа №1 — Лексический анализатор
    %table#content{ :cellspacing => 0 }
      %tr
        %td
          %form{ :action => '/', :method => 'get' }
            %fieldset
              %label{ :for => 'source' } Source code:
              %textarea{ :name => 'source', :value => @output }
            %input{ :type => 'submit', :value => 'Send' }
        %td
          - unless output.empty?
            %table#tokens{ :cellspacing => 0 }
              %tr
                %th Type
                %th Value
                %th Coodrinates
              - for token in output
                %tr
                  %td.type= token.type
                  %td.value= token.value
                  %td.coordinates= "[#{token.x}, #{token.y}]"
